body{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #D4E7ED;
    /* display: flex; */
    /* flex-flow: column wrap; */
    font-family: 'Inter', sans-serif;
    /* align-items: center; */
    /* justify-content: space-between; */
    /* overflow-x: hidden; */


}

nav{
    margin: 20px auto;
    max-width: 90%;
    /* border: 2px solid red; */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    /* position: sticky; */
}
nav img{
    height: 62px;
    max-width: 72px;
}

nav>ul{
    list-style: none;
    display: flex;
    max-width: 20%;
    justify-content: space-evenly;
    gap: 20px;
}
nav>ul>li{
    padding-bottom: 10px;
    cursor: pointer;
}

nav>ul>li>a{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-decoration: none;
    color: #48BB4F;
}
nav>ul>li:first-child{
    border-bottom: 2px solid #FC3D21;
}

section.section1{
    /* width: 100%; */
    /* border: 2px solid #FC3D21; */
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
section>div.sec-1{
    display: flex;
    flex-flow: row wrap;
    /* width: 100%; */
    height: auto; 
    align-items: center;
    justify-content: space-around;
    align-content: space-around;
    gap: 20px;


}
section>div.sec-1>img{
    max-width: 700px;
    /* height: 600px; */
    flex-basis: 1;
    /* border: 2px solid #FC3D21; */
}
section>div.sec-1 div.txt{
    /* height: 100%; */
    max-width: 50%;
    flex-basis: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    /* align-content: flex-end; */
    /* border: 1px solid blueviolet; */

}

section>div.sec-1 span{
    color: #48BB4F;
    font-size: 40px;
}
section>div.sec-1 h1{
    color: white;
    font-size: 32px;
    max-width: 40rem;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;

}
/* section>div.sec-1 p{
    font-style: normal;
    font-weight: 300px;
    font-size: 20px;
    line-height: 29px;
    max-width: 611px;
    color: #203734;
} */

section>div.sec-1 div.btn{
    height: 20%;
    width: 100%;
    display: flex;
    /* align-items: flex-start; */
    align-items: flex-end;
    align-content: flex-start;
    /* border: 1px solid rgb(4, 1, 211); */

}
 button{
    background-color: transparent;
    color: #48BB4F;
    font-size: 24px;
    height: 56px;
    width: 200px;
    border: 2px solid #48BB4F;
    border-radius: 15px


}
section.section2{
    background-image: url("/img/wave.png");
    background-repeat: no-repeat;
    background-position: top;
    /* background-clip: content-box; */
    height: 120%;
    width: 100%;
    display: flex;
    /* flex-flow: row nowrap; */
    align-items: center;
    justify-content: center;
    padding: 100px 0px 0px 0px;
    gap: 25px;

}
section.section2>div.sec2{
    background-color: #BFE1E2;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 100%; 
    align-items: center;
    justify-content: center;
    /* border: 2px solid #0003a0; */
    gap: 25px;
    padding: 100px 0px 30px 0px;

}

section.section2>div.sec2>div.col-1{
    /* border: 2px solid gold; */
    max-width: 634px;
    max-height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-content: flex-start;
    padding: 0px 10px;
    gap: 20px;

}
section.section2div.sec2>div.col-2{
    border: 2px solid rgb(194, 9, 154);
    /* width: 50%; */
    /* flex-basis: 1; */
    /* height: 1000px;
    width: 500px; */
    align-self: center;
    justify-content: space-between;
    
}

section.section2 h2{
    font-style: normal;
    font-weight: 300;
    font-size: 27px;
    /* line-height: 48px; */
    max-width: 520px;
    height: auto;
    margin: 0px;
    /* border: 2px solid rgb(66, 160, 12); */

}
p{
    margin: 0px;
    /* border: 2px solid rgb(66, 160, 12); */
    max-width: 500px;
    /* max-height: 59px; */
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 29px;
    color: #203734;
}
section.section2>div.btn button{
    max-width: 100%;
    max-height: 100%;
}

/* section.section2 button{
    background-color: transparent;
    color: #48BB4F;
    font-size: 24px;
    max-height: 56px;
    max-width: 246px;
    border: 2px solid #48BB4F;
    border-radius: 15px;

} */


section.section3{
    /* background-image: url("/img/wave.png");
    background-repeat: no-repeat;
    background-position: top; */
    /* background-clip: content-box; */
    background-color: #BFE1E2;
    height: 120%;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    padding: 10px 0px 0px 0px;
    gap: 25px;

}
section.section3>div.sec2{
    /* background-color: #BFE1E2; */
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 100%; 
    align-items: center;
    justify-content: center;
    /* border: 2px solid #0003a0; */
    gap: 25px;
    padding: 100px 0px 30px 0px;

}

section.section3>div.sec2>div.col-1{
    /* border: 2px solid gold; */
    max-width: 634px;
    max-height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-content: flex-start;
    padding: 0px 10px;
    gap: 20px;

}
section.section3>div.sec2>div.col-2{
    /* border: 2px solid rgb(194, 9, 154); */
    /* width: 50%; */
    /* flex-basis: 1; */
    /* height: 1000px;
    width: 500px; */
    /* align-self: center; */
    justify-content: space-between;
    
}

section.section3 h2{
    font-style: normal;
    font-weight: 300;
    font-size: 27px;
    /* line-height: 48px; */
    max-width: 520px;
    height: auto;
    margin: 0px;
    /* border: 2px solid rgb(66, 160, 12); */

}

section.section3>div.btn button{
    max-width: 100%;
    max-height: 100%;
}




div.chart{
    /* background-color:#203734;  */
    max-height: 576px; 
    max-width: 150%;
    padding: 10px;
}
#chart{
    max-width: 676px; 
    max-height: 400px;
}